[Desktop Entry]
Icon=image-png
Name=2023-08-21_10-11.png
Type=Link
URL[$e]=file:$HOME/Pictures/2023-08-21_10-11.png
X-KDE-LastOpenedWith=lookandfeelexplorer
