[Desktop Entry]
Icon=text-html
Name=handoff
Type=Link
URL[$e]=https://discordapp.com/handoff?rpc=6463&key=265177f9-c9c6-48b3-87b9-29c297316825
X-KDE-LastOpenedWith=org.kde.kate
