[Desktop Entry]
Icon=text-html
Name=Welcome_to_KDE
Type=Link
URL[$e]=https://community.kde.org/Welcome_to_KDE?source=plasma-welcome
X-KDE-LastOpenedWith=org.kde.kate
